@media (max-width: 817px) {
  .button__download {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .button__download {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .button__download {
    font-size: 1.4rem;
    gap: 0.5rem;
  }
}
@media (max-width: 350px) {
  .button__download {
    font-size: 1.4rem;
    gap: 0;
    padding: 0 1rem;
  }
}
