@tailwind base;
@tailwind components;
@tailwind utilities;

/** Fonts Strawford **/
@font-face {
  font-family: 'strawford';
  /* font-display: swap; */
  src: url('../../assets/fonts/Strawford/strawford-regular-webfont.eot');
  src:
    url('../../assets/fonts/Strawford/strawford-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/Strawford/Strawford_Regular.ttf') format('truetype'),
    url('../../assets/fonts/Strawford/strawford-regular-webfont.woff2')
      format('woff2'),
    url('../../assets/fonts/Strawford/strawford-regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Variables CSS */

:root {
  --primary: #1b2027;
  --primary_gradient: #104560;
  --secondary: #305d73;
  --secondary_gradient: #8ab1c3;
  --secondary-input: #466f83;
  --secondary-border: #2e576a;
  --tertiary: #6a8d95;
  --tertiary_gradient: #8ae4f9;
  --husk: #bb9f54;
  --husk_gradient: #f6d069;
  --valencia: #d15033;
  --olive: #232d12;
  /* 354528 #232d12*/
  --olive_hover: #d8d6bc;
  --capital: #d2f891;
  --white: #fbfbfbff;
  --black: #111111;
  --bg-transparent: rgba(17, 17, 17, 0.8);
  --light-0: #f8f9fa;
  --light-1: #e9ecef;
  --light-2: #dee2e6;
  --dark-0: #495057;
  --dark-1: #343a40;
  --dark-2: #212529;
}

@property --gradient-start {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

@property --gradient-end {
  syntax: '<color>';
  initial-value: transparent;
  inherits: false;
}

.delayed-show {
  opacity: 0;
  animation: fadeIn 0.8s ease-in-out 0.8s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.border-rad {
  border-radius: 1.6rem;
}
.center {
  text-align: center;
}

.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inner__shadow {
  box-shadow: 3px -3px 4px rgba(0, 0, 0, 0.2);
}

.olive {
  background: var(--olive);
}

.olive:hover {
  background: var(--husk);
}

.capital {
  color: var(--capital);
}

.iframe {
  overflow: hidden;
}

/** Custom CSS **/
html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  text-size-adjust: none;
  font-family: strawford;
}
body {
  --gradient-start: var(--primary);
  --gradient-end: var(--primary_gradient);
  color: var(--white);
  -moz-transition:
    1s --gradient-start,
    1s --gradient-end;
  transition:
    1s --gradient-start,
    1s --gradient-end;
  background: linear-gradient(
    156deg,
    var(--gradient-start) 60.97%,
    var(--gradient-end) 99.26%
  );
  background-attachment: fixed;
  padding-bottom: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: strawford;
}
h1,
h2,
h3,
h4 {
  font-family: strawford;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
  line-height: 3.5rem;
}
h4 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
}
img {
  max-width: 100%;
}

button,
.button {
  box-shadow: 0px 6px 11px 0px rgba(255, 255, 255, 0.21) inset;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--white);
}

button:active,
.button:active {
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.25) inset;
  filter: drop-shadow(0px 4px 4px rgba(55, 255, 255, 0.21));
}

a:hover {
  text-decoration: underline;
}

section p {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.burger-menu-content a {
  text-decoration: none;
}

.burger-menu-content a:hover {
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  --gradient-start: var(--secondary_gradient);
  --gradient-end: var(--secondary);
  -moz-transition:
    1s --gradient-start,
    1s --gradient-end;
  transition:
    1s --gradient-start,
    1s --gradient-end;
  background: linear-gradient(
    180deg,
    var(--gradient-start) -44.74%,
    var(--gradient-end) 54.72%
  );
  overflow: hidden;
}

.nav__collapse {
  display: none;
}

.grid__container {
  grid-template-rows: 17rem 19.6rem 15rem 100rem 12.8rem 31.2rem 16rem 9.8rem;
}

.linkedin,
.github {
  transition: all 500ms;
}

.github:hover {
  transform: scale(110%);
}
.linkedin:hover {
  transform: scale(110%);
}

/* .footer {
  margin-top: 39.99rem;
} */

/* Media queries */

@media (max-width: 1211px) {
  .main__container {
    width: 80rem;
    max-width: 95%;
  }

  .grid__container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 21rem 19rem 15rem 33.7rem 95rem 10rem 22.4rem 20rem 10rem;
    height: 262.7rem;
  }

  .grid__me {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .grid__theme {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid__lang {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid__dice {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .grid__map {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .grid__weather {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid__projects {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .grid__animation {
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .grid__form {
    grid-row-start: 8;
    grid-row-end: 10;
  }
}

@media (max-width: 838px) {
  .grid__container {
    grid-template-rows: 20rem 19rem 15rem 33.7rem 95rem 10rem 22.4rem 20rem 10rem;
    height: 261.7rem;
  }
  .about__containerUp {
    /* flex-direction: column; */
    gap: 2rem;
  }
}

@media (max-width: 821px) {
  .about__text {
    padding-right: 4rem;
  }
}

@media (max-width: 817px) {
  .grid__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 11rem 60rem 12rem 20rem 95rem 17rem 14.6rem 33rem 10rem;
    height: 289.2rem;
  }

  .content__header {
    height: 7rem;
    overflow: visible;
  }

  .main__container {
    width: 50rem;
    max-width: 95%;
  }

  .nav__full {
    display: none;
  }

  .nav__collapse {
    display: block;
    margin-right: 0rem;
  }

  .grid__me {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .about__containerUp {
    flex-direction: column;
    gap: 2rem;
  }

  .about__avatar {
    padding-top: 0rem;
  }

  .about__text {
    padding-right: 0;
  }

  .about__containerBottom {
    margin-left: 0;
    margin-top: 0;
  }

  .grid__theme {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid__lang {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid__dice {
    display: none;
  }

  .grid__map {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .grid__weather {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid__projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .grid__skills {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .grid__animation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .grid__form {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .grid__contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .grid__cv {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
  }
}

@media (max-width: 520px) {
  .content__header {
    padding: 0 2rem;
  }
  .content__header div {
    gap: 1.5rem;
    margin-right: 1rem;
  }

  .grid__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 11rem 62rem 12rem 20rem 95rem 17rem 40rem 10rem;
    height: 281.6rem;
  }
  .about__avatar {
    padding-top: 0rem;
  }
  .grid__form {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .grid__contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .grid__cv {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  .grid__animation {
    display: none;
  }
}

@media (max-width: 449px) {
  .grid__container {
    grid-template-rows: 11rem 64rem 12rem 20rem 95rem 25rem 40rem 10rem;
    height: 291.6rem;
  }
}

@media (max-width: 390px) {
  .content__header {
    height: 9rem;
  }
}

@media (max-width: 362px) {
  .grid__container {
    grid-template-rows: 11rem 68rem 12rem 20rem 95rem 25rem 40rem 10rem;
    height: 295.6rem;
  }
}

@media (max-width: 338px) {
  .about__containerBottom section {
    gap: 1rem;
  }

  footer p {
    font-size: 1.4rem;
  }
}

@media (max-width: 333px) {
  .content__header {
    height: 14rem;
  }
}

@media (max-width: 307px) {
  .grid__container {
    grid-template-rows: 11rem 70rem 12rem 20rem 95rem 27rem 40rem 10rem;
    height: 299.6rem;
  }
}
