@media (max-width: 817px) {
  .buttons__text {
    display: none;
  }

  .buttons__icons {
    display: flex;
    width: 99.99%;
    gap: 10%;
  }

  .whatsapp__button,
  .gmail__button {
    width: 6rem;
    padding: 0;
  }

  .whatsapp__icon,
  .gmail__icon {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .buttons__icons {
    justify-content: space-around;
    gap: 0%;
  }
  .whatsapp__button,
  .gmail__button {
    width: 5rem;
  }
}
